.apexContainer {
    color: #c4c7c9;
    background-color: #2c3940;
    height: 100vh;
}

.circularLoading {
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropDownButton {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
}

.dropDownContainer {
    display: 'flex';
    flex-direction: 'column'
}

.btcHeading {
    padding-right: 5px;
}

.flexContent {
    display: flex;
}